.PiePagina {
    padding-top: 8px;
    text-align: center;
    height: 10vh;
    background-color: rgba(128, 128, 128, 0.616);
    .linkRedes{
        text-decoration: none;
        margin: 0 auto;
        padding: 10px;
        .icon{
            color: black;
            font-size: 30px;
        }
    }
}