.contenedorTotal{
    background-image: url(../assets/img/fondocontactos.jpg);
    height: 80vh; 
    h1{
        padding-top: 12px;
        margin-left: 8%;
        font-size: 50px;
        color: black;
        font-family: $tipografiaTextos;
        text-shadow: 0 0 10px $colortexto;
    }
    section{
        .container{
            .diseñosInput{
                border: 1px solid black;
            }
            .diseñosLabel{
                color: black;
                font-size: 18px;
            }
            .botonesInput{
                padding: 7px 20px;
                border: solid 1px white;
                color: white;
                text-transform: uppercase;
                font-size: 18px;
                background-color: rgba(0, 0, 0, 0.719);
                border-radius: 5px;
                margin-bottom: 12px; 
            }
        }

    } 
}